.btn {
  padding: 12px 25px 12px 26px;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;

  &:hover {
    color: #000000;
  }
}
