.promo {
  min-height: 100vh;
  padding-top: 206px;
  background: url("../img/Background.jpg") (57% / cover) no-repeat;
  position: relative;

  &__name {
    padding-left: 10px;
    position: relative;
    z-index: 1;
    @include before-circle;
  }

  &__title {
    margin-top: 9px;
    width: 532px;

    @media (max-width: $mb3) {
      font-size: 26px;
      line-height: 39px;
      width: 300px;
    }
  }

  &__links {
    margin-top: 25px;
    display: flex;
    align-items: center;

    @media(max-width: $mb3) {
      margin-top: 32px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;

    @media (max-width: $mb0) {
      &:hover {
        color: #000000;
      }
    }

    &:nth-child(1) {
      margin-right: 44px;
    }
  }
}
