.skills {
  margin-top: 120px;
  min-height: 1024px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 13px 13px;
  }

  &__item {
    width: 270px;
    height: 270px;
    border: 1px solid #000000;
    padding: 30px 29px 25px 30px;
  }

  &__img {
    height: 65px;
    display: flex;
    align-items: center;
  }

  &__name {
    margin-top: 20px;
  }

  &__descr {
    margin-top: 15px;
  }
}
