extends shared/layout.pug

block variables
  - var title = 'Alexandra'

block content 
  include chunks/menu.pug
  include chunks/sidepanel
  include chunks/promo.pug
  include chunks/about.pug
  include chunks/exp.pug
  include chunks/skills.pug
  include chunks/work.pug
  include chunks/price.pug
  //- include chunks/contacts.pug