- const loremText = "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et veritatis magni optio fugit eveniet inventore eligendi, totam saepe aliquid, blanditiis dignissimos ullam quo. Accusantium eos suscipit saepe vero totam ea."
- const smallLoremText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
- 
  const itemList = [
    {name: "web", title: "Web-разработка", src: "img/about/web.svg"},
    {name: "mobile", title: "Разработка приложений", src: "img/about/mobile.svg"},
    {name: "design", title: "UI/UX Design", src: "img/about/design.svg"}
  ];

section.about 
  .container 
    .about__grid 
      .about__img 
        img.about__img(src="img/Photo.jpg" alt="photo")
      .about__info 
        .about__title.title.title_fz14 Про меня
        h2.about__subtitle.title.title_fz36 Меня зовут Александра
        .about__divider 
        .about__descr.descr #{loremText}
        ul.about__list 
          each item in itemList
            li.about__item
              .about__icon 
                img(src= item.src alt= item.name)
              .about__wrapper
                .about__header.title.title_fz14 #{item.title}
                .about__descr.descr.descr_fz12 #{smallLoremText}
