-
  const menuLinks = [
    {
      descr: "про меня",
      href: "#about"
    },
    {
      descr: "мой опыт",
      href: "#exp"
    },
    {
      descr: "мои навыки",
      href: "#skills"
    },
    {
      descr: "мои работы",
      href: "#work"
    },
    {
      descr: "прайс-лист",
      href: "#price"
    },
    {
      descr: "контакты",
      href: "#contacts"
    }
  ]

-
 const socialItems = [
  {name: "github", link: "#", path: "img/social/Github.svg"},
  {name: "instagram", link: "#", path: "img/social/Instagram.svg"},
  {name: "facebook", link: "#", path: "img/social/Facebook.svg"}
 ];

.menu 
  .menu__block 
    img.menu__close(src="img/Close.svg" alt="close")
    nav.menu__nav 
      ul.menu__list
        each item in menuLinks
          li.menu__item 
            a.menu__link(href= item.href)= item.descr
    .menu__social 
      each item in socialItems
        a(href= item.link)
          img(src= item.path, alt= item.name)
  .menu__overlay