section.promo 
  .container 
    .promo__name.title.title_fz16 Меня зовут Александра Смит
    h1.promo__title.title.title_fz48 Я web-разработчик из города Москва
    .promo__links 
      a.promo__link.btn(href="#") Портфолио
      a.promo__link(href="#") Про меня