aside.sidepanel 
  .sidepanel__text Социальные сети
  .sidepanel__divider 
  a.sidepanel__link(href="#")
    img.sidepanel__img(src="img/social/Github.svg" alt="github") 
  a.sidepanel__link(href="#")
    img.sidepanel__img(src="img/social/Instagram.svg" alt="instagram") 
  a.sidepanel__link(href="#")
    img.sidepanel__img(src="img/social/Facebook.svg" alt="facebook") 